* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: poppins;
}

#main {
    position: relative;
    overflow: hidden;
    background-color: #1137ca;
}

@font-face {
    font-family: a;
    src: url(./jost-variable.ttf);
}

@font-face {
    font-family: b;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}

@font-face {
    font-family: c;
    src: url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}

#page1 {
    height: 100vh;
    width: 100vW;
    background-color: cadetblue;
    position: relative;
}

#page1>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1>nav {
    height: 10vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#page1>nav>img {
    width: 13%;
    margin-top: -1.7vw;
    margin-left: -44px;
}

#right-nav>button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    color: #fff;
    font-size: 15px;
    border: none;
    outline: #ffffff9e 0.1px solid;
    margin: 0px 5px;
}

.bottom-page1 {
    position: absolute;
    bottom: 5%;
    height: 35vh;
    width: 50vw;
    left: 15%;
}

.bottom-page1>h1 {
    font-size: 5vw;
    font-weight: 100;
    line-height: 1;
    color: #fff;
}

.bottom-page1-inner {
    height: 35%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom-page1-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 0px 30px; */
}

.bottom-page1-inner>button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #0b48ed;
    font-size: 16px;
    /* font-family: b; */
}

.bottom-page1-inner>h4 {
    font-size: 1.3vw;
    font-weight: 100;
    color: #fff;
}

#page2 {
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding: 0vw 8vw;
    color: #fff;
}

#page2>h2 {
    font-weight: 100;
    margin-bottom: 2.8vw;
}

#page2>h1 {
    font-weight: 100;
    width: 90%;
    font-size: 3.5vw;
    line-height: 1.2;
    color: #daddad69;
}

#page3 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page3>canvas {
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

#page4 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #1137ca;
}

#page4>h3 {
    margin-left: 15vw;
    margin-bottom: 2vw;
    color: #fff;
    font-weight: 100;
    font-size: 1.5vw;
}

#page4>h1 {
    margin-left: 15vw;
    width: 70%;
    font-size: 3vw;
    font-weight: 100;
    color: #daddad69;
}

#page5 {
    position: relative;
    height: 60vh;
    width: 100vw;
}

#page5>canvas {
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

#page6 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #1137ca;
}

#page6>h3 {
    margin-left: 10vw;
    margin-bottom: 2vw;
    color: #fff;
    font-weight: 100;
    font-size: 1.5vw;
}

#page6>h1 {
    margin-left: 10vw;
    width: 80%;
    font-size: 3.5vw;
    font-weight: 100;
    color: #daddad69;
}

#page7 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}

#page7>canvas {
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

.page7-cir {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    height: 27vw;
    width: 27vw;
    border-radius: 50%;
    border: 1px solid #ffffff87;
}

.page7-cir-inner {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #a9bff3;
}

#page8 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}

#page8>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page8-bottom {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.page8-bottom>h1 {
    color: #fff;
    margin-bottom: 2vw;
    font-size: 5vw;
    font-weight: 100;
}

.page8-bottom>button {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    color: #0a3cce;
    cursor: pointer;
}

#page9 {
    height: 100vh;
    width: 100vw;
    background-color: #1137ca;
    position: relative;
    display: flex;
}

.left9 {
    height: 100%;
    width: 40%;
    position: relative;

}

.left9>h1 {
    position: absolute;
    top: 35%;
    right: 10%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 100;
    color: #fff;
}

.right9 {
    height: 100%;
    width: 60%;
    position: relative;
}

.right9-center {
    height: 65%;
    width: 85%;
    background-color: #000;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: cover;
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);

}

#page10 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1137ca;
}

.right10 {
    height: 100%;
    width: 60%;
    position: relative;
    left: 40%;
}

.right10-inner {
    height: 33.3%;
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
}

.right10-inner>h1 {
    color: #fff;
    font-size: 2vw;
    font-weight: 100;
    margin-bottom: 5px;
}

.right10-inner>p {
    color: #ffffffa0;
    font-size: 1.3vw;
    width: 80%;
}

#page11 {
    position: relative;
    height: 160vh;
    width: 100vw;
    background-color: #fff;
}

#page11>h1 {
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 4.5vw;
    font-weight: 100;
}

.page11-inner {
    position: relative;
    top: 20%;
    margin-bottom: 2vw;
    height: 25%;
    width: 100%;
    display: flex;
}

.left11 {
    position: relative;
    height: 90%;
    width: 40%;
    left: 5%;
    border-radius: 10px;
    overflow: hidden;
}

.left11>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.right11 {
    position: absolute;
    height: 90%;
    width: 50%;
    left: 50%;
    display: flex;
    align-items: start;
    color: #000;
    flex-direction: column;
    justify-content: center;
}

.right11>h4 {
    font-weight: 400;
}

.right11>h1 {
    font-weight: 400;
    font-size: 1.4vw;
}

#page12 {
    height: 100vh;
    width: 100vw;
    background-color: #02268e;
    position: relative;
}

.page12-inner {
    position: absolute;
    top: 35%;
    right: 10%;
    color: #fff;
}

.page12-inner>h1 {
    font-size: 6vw;
    font-weight: 300;
}

.page12-inner>p {
    font-size: 1.4vw;
    font-weight: 100;
}

#page13 {
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #0f0f17;
    padding: 6vw 9vw;
}

#page13>h1 {
    color: #fff;
    font-size: 6vw;
    font-weight: 300;
}

#page13>a>button {
    padding: 1vw 3vw;
    border-radius: 6rem;
    border: none;
    background-color: #0a3cce;
    color: #fff;
    margin-top: 3vw;
    cursor: pointer;
}

#page14 {
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #0f0f17;
}

.page14-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    height: 33.3%;
    width: 100%;
    color: #fff;
    border-top: .5px solid #ffffff5c;
    border-bottom: .5px solid #ffffff48;
    cursor: pointer;
}

.page14-inner>a {
    text-decoration: none;
    color: #fff;
}

.page14-inner>a>i {
    font-weight: 100;
    font-size: 2.4vw;
    position: relative;
    z-index: 9999;
}

.page14-inner>h1 {
    font-size: 3vw;
    font-weight: 100;
    position: relative;
    z-index: 9999;
}

.center14 {
    height: 0%;
    width: 100%;
    background-color: #093dcc;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease.5s;
}

.page14-inner:hover .center14 {
    height: 100%;
}

/* Footer */

#footer-top {
    display: flex;
    height: 50vh;
    width: 100vw;
    background-color: #0f0f17;
    justify-content: space-evenly;
}

#footer-top>.footer-box1 {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    width: 12%;
    justify-content: center;
}


#footer-top>.footer-box1>a {
    margin: 10px;
    text-decoration: none;
    color: #fff;
}

#footer-top>.footer-box2 {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

#footer-top>.footer-box2>h3 {
    color: #fff;
    font-size: 2vw;
    font-weight: 100;
    margin-bottom: 25px;
}

.form {
    display: flex;
}

.form>input {
    width: 70%;
    padding: 7px;
    background-color: #0f0f17;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    font-size: 1vw;
}

.form>i {
    font-size: 1vw;
    padding: 7px;
    border-bottom: 1px solid grey;
    color: grey;
    cursor: pointer;
}
#footer-bottom{
    padding: 25px 10.5vw;
    color: #fff;
    background-color: #0f0f17;
}
